---
import ClockIcon from "../../icons/Clock.icon.astro";
import TieIcon from "../../icons/Tie.icon.astro";
import CalendarIcon from "../../icons/Calendar.icon.astro";
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { courses } from "../../data/Courses.ts";

const { id } = Astro.params;

export const getStaticPaths = (() => {
    return courses.map((course) => ({
        params: { id: course.theme.toLocaleLowerCase().trim() },
    }));
}) satisfies GetStaticPaths;

function capitalizeWords(str: string) {
    return str
        .split(" ")
        .map((word) => {
            if (word.length <= 2) {
                return word.toLowerCase();
            } else {
                return word.charAt(0).toUpperCase() + word.substring(1);
            }
        })
        .join(" ");
}

const course = courses.find((c) => c.theme === capitalizeWords(id!));
---

<Layout title={`CECLA 6626 - Areas | ${capitalizeWords(id!)}`}>
    <section class="w-full flex flex-col">
        <article
            class="w-full min-h-[350px] bg-cover"
            style={{
                background: `url('${course!.src}')`,
                backgroundSize: "cover",
                backgroundPosition: "center",
            }}
        >
            <div class="w-full min-h-[350px] h-full flex items-center bg-[linear-gradient(270deg,rgba(34,34,34,0)_10%,rgba(34,34,34,0.91)_75%,rgba(34,34,34,0.91)_75%,rgba(34,34,34,1)_96%)]">
                <div class="w-[90%] ml-auto my-[25px]">
                    <h2 class="text-white text-[45px] font-bold">
                        {capitalizeWords(id!)}
                    </h2>
                    <h3 class="mb-[25px] text-[20px] text-white">
                        Docente: {course!.teacher}
                    </h3>
                    <ul class="text-[20px] flex flex-col gap-1.5">
                        {
                            course!.skills.map((s: string) => (
                                <li class="text-white">
                                    <span class="mr-[15px] text-white">></span>
                                    {s}
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </article>
    </section>
    
    <section>
        {
            course!.courseList.map((c) => (
                <article class="w-full">
                    <div class="bg-cecla-purple">
                        <h4 class="font-bold text-[30px] py-[25px] text-white max-w-[1280px] mx-[25px] xl:mx-auto">
                            {c.name}
                        </h4>
                    </div>
                    <div class="max-w-[1280px] mx-[25px] xl:mx-auto">
                        <ul class="max-w-[1280px] mx-auto flex flex-col justify-evenly items-center my-12 gap-12 sm:gap-0 sm:flex-row">
                            <li class="flex flex-col items-center w-[225px] h-[165px]">
                                <div class="mb-4 bg-cecla-purple-light rounded-full w-[100px] h-[100px] flex justify-center items-center">
                                    <div class="w-14 h-14">
                                        <ClockIcon />
                                    </div>
                                </div>
                                <span class="text-[16px] text-center text-cecla-purple-light font-bold">{c.duration}</span>
                            </li>
                            <li class="flex flex-col items-center w-[225px] h-[165px]">
                                <div class="mb-4 bg-cecla-purple-light rounded-full w-[100px] h-[100px] flex justify-center items-center">
                                    <div class="w-14 h-14">
                                        <TieIcon />
                                    </div>
                                </div>
                                <span class="text-[16px] text-center text-cecla-purple-light font-bold">{c.output}</span>
                            </li>
                            <li class="flex flex-col items-center w-[225px] h-[165px]">
                                <div class="mb-4 bg-cecla-purple-light rounded-full w-[100px] h-[100px] flex justify-center items-center">
                                    <div class="w-14 h-14">
                                        <CalendarIcon color="#fff" />
                                    </div>
                                </div>
                                <span class="text-[16px] text-center text-cecla-purple-light font-bold">{c.classSchedule}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="max-w-[1280px] mx-6 xl:mx-auto mb-12 text-justify">
                        <p class="text-wrap text-[16px]">
                            {c.description}
                        </p>
                    </div>
                </article>
            ))
        }
    </section>
</Layout>